
[submodule "public"]
	path = public
	url = https://github.com/reddvid/reddvid.github.io.git
	branch = master
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
	branch = master
