[submodule "public"]
	path = public
	url = https://github.com/reddvid/reddvid.github.io.git
[submodule "themes/hugo-github-calendar"]
	path = themes/hugo-github-calendar
	url = https://github.com/totoroot/hugo-github-calendar.git
[submodule "themes/stack"]
	path = themes/stack
	url = https://github.com/CaiJimmy/hugo-theme-stack
