<h2 class="article-title">Send tips using your favorite Virtual Wallet</h2>
<style>
    div.imgbox {
        margin: 20px;
        width: 300px;
        height: 400px;
        display: inline-block;
        border-radius: 25px;
    }

    img.qrcode {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media(max-width:768px) {
        div.imgbox {
            margin: 20px auto;
            width: 100%;
            height: 100%;
            border-radius: 25px;
        }

        img.qrcode {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
</style>

<div class="gcash" style="text-align: center;">
    <div class="imgbox">
        <img class="qrcode" src="gcash-qrcode.jpg" alt="Red David GCash QR Code" />
    </div>
    <div class="imgbox">
        <img class="qrcode" src="coinsph-qrcode.jpg" alt="Red David GCash QR Code" />
    </div>
    <div class="imgbox">
        <img class="qrcode" src="paymaya-qrcode.jpg" alt="Red David GCash QR Code" />
    </div>
</div>
<h4 class="article-time" style="padding: 0; margin: 0;">Money will be used to pay the bills and buy tech for review.
    Thank you!</h4>