{{- $img_url := default "" (.Get "img_url") -}}
{{- $name := default "" (.Get "name") -}}
{{- $product_link := default "" (.Get "product_link") -}}

<div class="product-view article-list--compact links schmol" >
    <article>
        <img class="product-img" src="{{ $img_url }}" height="200" width="200" style="object-fit: cover !important;">
        {{- if not (eq $product_link "") -}}
        <a href="{{ $product_link }}" target="_blank" rel="noopener">
            <p>
                {{ $name }}
            </p>
        </a>
        {{- end -}}
        {{- if (eq $product_link "") -}}
        <p style="margin-top: -5px;">
            {{ $name }}
        </p>
        {{- end -}}
    </article>
</div>